<h2>订单列表</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>用户</th>
      <th>生成时间</th>
      <th>订单状态</th>
      <th>选项</th>
      <th>订单详情</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.email %></td>
        <td><%= order.created_at.to_s(:long) %></td>
        <td><%= order.aasm_state %></td>
        <td>
          <% if order.paid? %>
            <%= link_to("出货", shipping_order_path(order.token), method: :post, class:"btn btn-primary") %>
          <% else %>
            <%= link_to("出货", shipping_order_path(order.token), method: :post, class: "btn btn-primary disabled") %>
          <% end %>
        </td>
        <td><%= link_to(order.token, order_path(order.token)) %></td>
      </tr>
    <% end %>

  </tbody>
</table>
